
<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
  <nav class="main-nav overlay clearfix">
          {% if page.logo %}
              <a class="blog-logo" href="{{ site.baseurl }}">
                  <img src="{{ page.logo }}" alt="Blog Logo" />
              </a>
          {% endif %}
      <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }} ">Subscribe</a>
  </nav>
  <div class="vertical">
      <div class="main-header-content inner">
          <h1 class="page-title">{{ site.name }}</h1>
          <h2 class="page-description">
              {% if site.description %} {{ site.description }}. {% endif %}
              {% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %}
          </h2>
      </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<p><strong>Web and Mobile Applications Developer</strong></p>

<p>I am a web and mobile applications developer for NC State University. I am responsible for web and application development support for the central university website. I also create and maintain other key constituent sites, micro-sites and online marketing communication efforts as well as web development and strategy for the College of Education.</p>

<p><a class="button" href="/about">Learn More About Me</a></p>

<h2>Portfolio</h2>

<div class="portfolio-card">

  <h3>Seasons JavaScript Application</h3>
  <p>This is an application that changes the content of the page based on the season that is selected.</p>
  <a class="button" href="/seasons">Change the Seasons</a>

</div>

<div class="portfolio-card">

  <h3>Giving Tree Web Application</h3>
  <p>This is a web application that displays names on leaves as they go across the screen and lightboxes and image when touched.</p>
  <a class="button" href="/touchscreen/">See the Images</a>

</div>

<div class="portfolio-card">

  <h3>RPG</h3>
  <p>This is a sample web game created by RPG Maker MZ as a proof of concept of a game running on a live website. </p>
  <a class="button" href="/game">Play the Game</a>

</div>







<main id="content" class="content" role="main">

  <p><strong>Web and Mobile Applications Developer</strong></p>

<p>I am a web and mobile applications developer for NC State University. I am responsible for web and application development support for the central university website. I also create and maintain other key constituent sites, micro-sites and online marketing communication efforts as well as web development and strategy for the College of Education.</p>

<p><a class="button" href="/about">Learn More About Me</a></p>

<h2>Portfolio</h2>

<div class="portfolio-card">

  <h3>Seasons JavaScript Application</h3>
  <p>This is an application that changes the content of the page based on the season that is selected.</p>
  <a class="button" href="/seasons">Change the Seasons</a>

</div>

<div class="portfolio-card">

  <h3>Giving Tree Web Application</h3>
  <p>This is a web application that displays names on leaves as they go across the screen and lightboxes and image when touched.</p>
  <a class="button" href="/touchscreen/">See the Images</a>

</div>

<div class="portfolio-card">

  <h3>RPG</h3>
  <p>This is a sample web game created by RPG Maker MZ as a proof of concept of a game running on a live website. </p>
  <a class="button" href="/game">Play the Game</a>

</div>




  <div class="extra-pagination inner">
      {% include pagination.html %}
  </div>

  {% for post in paginator.posts %}

  <article class="post">
      <header class="post-header">
          <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      </header>
      <section class="post-excerpt">
          {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
      </section>
      <footer class="post-meta">
          {% if site.author %}
              <img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
              {{ site.author }}
          {% endif %}
          {% if post.categories.size > 0 %} 
              {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
          {% endif %}
          <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
              {{ post.date | date_to_string }}
          </time> 
      </footer>
  </article>

  {% endfor %}

  {% include pagination.html %}

</main>


<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

<!-- Begin Jekyll SEO tag v2.8.0 -->
<title>Richie Leahey | This is the porfolio website for web developer Richie Leahey.</title>
<meta name="generator" content="Jekyll v3.9.0" />
<meta property="og:title" content="Richie Leahey" />
<meta name="author" content="Richie Leahey" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="This is the porfolio website for web developer Richie Leahey." />
<meta property="og:description" content="This is the porfolio website for web developer Richie Leahey." />
<link rel="canonical" href="https://richieleahey.com/" />
<meta property="og:url" content="https://richieleahey.com/" />
<meta property="og:site_name" content="Richie Leahey" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Richie Leahey" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","author":{"@type":"Person","name":"Richie Leahey","url":"https://richieleahey.com"},"description":"This is the porfolio website for web developer Richie Leahey.","headline":"Richie Leahey","name":"Richie Leahey","url":"https://richieleahey.com/"}</script>
<!-- End Jekyll SEO tag -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/style.css?v=c2d5f45c78b3fe217302f49ca933689c7c2900bb">
    <!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" -->

<!-- end custom head snippets -->

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Richie Leahey</h1>
    </header>
    <main id="content" class="main-content" role="main">
      <h1>About</h1>

      <h2>Contact Me</h3>

      <ul>
        <li><a href="https://github.com/RichieLeahey/">GitHub</a></li>
        <li><a href="https://linkedin.com/in/richieleahey">LinkedIn</a></li>
        <li><a href="https://leaheymedia.com">Leahey Media</a></li>
      </ul>

<!--
<section id="education">

<h2>Education</h2>

<div class="accordion">
    <div class="accordion-header">
      <div class="accordion-title">Bachelor's Degree - <strong>2014</strong></div>
      <span class="accordion-icon">+</span>
    </div>
    <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <ul>
          <li>First task I completed</li>

        </ul>
    </div>
</div>

<div class="accordion">
    <div class="accordion-header">
      <div class="accordion-title">Second Volunteer Opportunity</div>
      <span class="accordion-icon">+</span>
    </div>
    <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>

<div class="accordion">
    <div class="accordion-header">
      <div class="accordion-title">Third Volunteer Opportunity</div>
      <span class="accordion-icon">+</span>
    </div>
    <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>

</section>


<p>University of Michigan
Master of Science (M.S.)Computer Science 3.64
2013 - 2016</p>

<p>Activities and Societies: Database Research Group, Human Subjects Social and Behavioral Sciences Module and Certification Test</p>

<p>Demonstration of proficiency or above in critical computer-related technologies such as Architecture, Databases, Networking, Algorithms, and Artificial Intelligence.</p>

<p>Mount Aloysius College
Bachelor of Science (B.S.)Double Major in Math, Science, Technology and Elementary/Early Childhood Education3.42
2005 - 2009</p>

<p>Activities and Societies: Mercy Leader Scholarship, Leadership Award, Undergraduate Research Symposium Participant (2x), Mercy Presidential Scholarship, Dean’s List (3x), Music Club President, IT Club Member, Ghost Hunting Club President, Baseball Team</p>

<p>Demonstration of proficiency or above in the constructivist philosophies of Vygotsky, Bruner, and Piaget, as well as the perspectives of Maslow and Gardner. Students will attain the target standards of excellence as identified by the Association of Childhood Education International and will be prepared to pass the required state standardized exams appropriate for each certificate and/or discipline.</p>

<p>Penn Cambria High School
High SchoolAcademic 3.8
2001 - 2005</p>

<p>Activities and Societies: American Legion School Award, National Honor Society, Presidential Academic Fitness Award, Youth Ambassador Program, Athlete of the Month, Presidential Physical Fitness Award, Lilly Raiders Athletic Award for Football &amp; Baseball, Monsignor Curran Memorial Student Athlete Award, Portage Jr. Rifle Club Championship Team Member, Portage Jr. Rifle Club Most Improved Shooter, NRA Junior Small Bore Sharpshooter, Southern Alleghenies Football Coaches Association Defensive MVP, Who’s Who Sports Inductee</p>

<p>Demonstration of proficiency or above in each of the following State academic standards: English Language Arts and Mathematics, Science and Technology, Environment, and Ecology.</p>
-->
<!--
<h1 id="previous-job-experience">Previous Job Experience</h1>

<p>NC State University Graphic
Web and Mobile Applications Developer
NC State University
Apr 2015 - Present7 years 1 month</p>

<p>Raleigh, North Carolina</p>

<p>Responsible for web and application development support for the central university website, as well as other key constituent sites, micro-sites and online marketing communication efforts as well as web development and strategy for the College of Education.</p>

<p>CEO
Leahey Media LLC
Jun 2016 - Present5 years 11 months</p>

<p>Raleigh, North Carolina</p>

<p>Owner and chief executive officer of Leahey Media, L.L.C. Head of business operations along with working in the roles of lead programmer, designer and primary photographer.</p>

<p>Senior Software Engineer
Fusionmarx, Inc
Jul 2013 - Dec 20152 years 6 months</p>

<p>Altoona, Pennsylvania</p>

<p>Systems administrator of a Linux cPanel server hosting over eighty websites. Developed web applications and mobile solutions for small business and non-profit clients.</p>

<p>Computer Systems Technician Instructor
YTI Career Institute
Jul 2013 - Apr 20151 year 10 months</p>

<p>Altoona, Pennsylvania</p>

<p>Taught courses to students pursuing a specialized associate degree in computer systems. Developed curriculum specific content designed for online course instruction. Received multiple awards for Perfect Instructor Feedback and for Posting Perfect Attendance.</p>

<p>Professional Development: Hazard Communication Awareness Training, MaxKnowledge Compliance Module 3 - Misrepresentations, CM105 - YTI - Beyond Compliance - Doing the Right Thing, ED101 - Effective Teaching Strategies, ED102 - Student Retention Methods, ED103 - Student Learning &amp; Assessment, ED104 - Class Management Strategies, ED105 - Instructional Planning For Student Success, ED106 - Enhancing Student Learning, Human Subjects Social and Behavioral Sciences Module and Certification</p>

<p>Case Manager
Appalachian Youth Services
Oct 2012 - Jul 201310 months</p>

<p>Ebensburg, Pennsylvania</p>

<p>Worked with sensitive information requiring both child abuse and FBI fingerprint clearances. Developed and monitored digital reports for case study clients.</p>

<p>Technology Representative &amp; Teacher
E E Miller Elementary School
Jul 2009 - Sep 20123 years 3 months</p>

<p>Fayetteville, North Carolina</p>

<p>Taught 4th and 5th grade math and science courses. Designed the school website and other digital media including newsletters. Trained staff on laptop and computer use in an educational setting. Volunteered as a coach for the Quiz Bowl and Science Olympiad teams along with Reading Rocks and the Student Support Team.</p>

<p>Professional Development: Assessing Writing Skills in the 21st Century, Introduction to the SMARTBoard, Applied Control Theory, Instructional Writing Across the Curriculum, Recognizing and Reporting Child Abuse and Neglect, Importance of Formative Assessment, Learning Targets and Criteria for Success, Collecting and Documenting Evidence</p>

<p>Student Assistant &amp; Data Entry
Mount Aloysius College
Aug 2005 - Jun 20093 years 11 months</p>

<p>Cresson, Pennsylvania</p>

<p>Worked in the admissions office giving tours of the campus as a student assistant. Managed the front desk of the student center. Entered and maintained data in the prospective student database for the admissions office.</p>


<h1 id="licenses-and-certifications">Licenses and Certifications</h1>

<p>Network Pro Graphic
Network Pro
TestOut Corporation
Issued Apr 2015
Credential ID UGQC-CRAA
Windows Server Pro: Install and Configure Graphic
Windows Server Pro: Install and Configure
TestOut Corporation
Issued Apr 2015
Credential ID UGQC-CRAB
Security Pro Graphic
Security Pro
TestOut Corporation
Issued Mar 2015
Credential ID UGQC-CQL3
PC Pro Graphic
PC Pro
TestOut Corporation
Issued Oct 2014
Credential ID UGQC-CK5W
Teaching License for Early Childhood N-3 and Elementary K-6 Graphic
Teaching License for Early Childhood N-3 and Elementary K-6
Commonwealth of Pennsylvania
Issued May 2009  Expires May 2015
Teaching License for Pre-K/K and Elementary Education (Grades K-6) Graphic
Teaching License for Pre-K/K and Elementary Education (Grades K-6)
State of North Carolina
Issued Jul 2009  Expires Jun 2012
Praxis - Early Childhood Education Graphic
Praxis - Early Childhood Education
Educational Testing Service (ETS)
Praxis - Elem Ed Cur Instruc Assessment Graphic
Praxis - Elem Ed Cur Instruc Assessment
Educational Testing Service (ETS)
Praxis - Fundamental Subjects: Content Knowledge Graphic
Praxis - Fundamental Subjects: Content Knowledge
Educational Testing Service (ETS)
Praxis C-PPST: Mathematics Graphic
Praxis C-PPST: Mathematics
Educational Testing Service (ETS)
Praxis C-PPST: Reading Graphic
Praxis C-PPST: Reading
Educational Testing Service (ETS)
Praxis C-PPST: Writing Graphic
Praxis C-PPST: Writing
Educational Testing Service (ETS)</p>

-->

<h2 id="courses-taught">Courses Taught</h2>

<p>
<ul>

  <li>Advanced Operating Systems (CS 1361)</li>
  <li>Cisco Routing (CS 1355)</li>
  <li>Computer Mathematics (GS 1799)</li>
  <li>Computer Software Applications (CS 1151)</li>
  <li>Data Communications (CS 2535)</li>
  <li>Database Management (CS 2510)</li>
  <li>Essentials of Networking (CS 1230)</li>
  <li>Ethics/Issues in the Workplace (GS 1881)</li>
  <li>Externship Supervisor (EX 3000)</li>
  <li>Fundamentals of Help Desk Support (CS 2521)</li>
  <li>Introduction to Computer Security (CS 2530)</li>
  <li>Introduction to Programming (CS 2620)</li>
  <li>Operating Systems I (CS 1140)</li>
  <li>Operating Systems II (CS 1221)</li>
  <li>Oral Communications for the IT Professional (GS 1832)</li>
  <li>Project Management (CS 2611)</li>
  <li>Web Page Fundamentals (CS 1340)</li>
  <li>Written Technical Communications (GS 1934)</li>

</ul>
</p>

<!--

<h1 id="honors-and-awards">Honors and Awards</h1>

<p>Perfect Instructor Feedback
YTI Career Institute
Jan 2015
Upholding YTI’s Values in demonstrating your commitment to Our Customers for achieving 100% on the Instructor Feedback Surveys.</p>

<p>Perfect Instructor Feedback
YTI Career Institute
Oct 2014
Upholding YTI’s Values in demonstrating your commitment to Our Customers for achieving 100% on the Instructor Feedback Surveys.</p>

<p>Perfect Instructor Feedback
YTI Career Institute
Jul 2014
Upholding YTI’s Values in demonstrating your commitment to Our Customers for achieving 100% on the Instructor Feedback Surveys.</p>

<p>Perfect Instructor Feedback
YTI Career Institute
Apr 2014
Upholding YTI’s Values in demonstrating your commitment to Our Customers for achieving 100% on the Instructor Feedback Surveys.</p>

<p>Perfect Instructor Feedback
YTI Career Institute
Jan 2014
Upholding YTI’s Values in demonstrating your commitment to Our Customers for achieving 100% on the Instructor Feedback Surveys.</p>

<h1 id="organizations">Organizations</h1>
<p>University of Michigan Alumni Association
Lifetime Member
Aug 2016 - Present
Parent Teacher Organization
Member
Jul 2009 - Sep 2012
I was a member of the PTO at EE Miller Elementary School. I regularly attended meetings and volunteered at events around at school throughout the year.</p>


-->


<section id="volunteer-work">

<h2>Volunteer Work</h2>

<div class="accordion">
    <div class="accordion-header">
      <div class="accordion-title">Quiz Bowl Coach</div>
      <span class="accordion-icon">+</span>
    </div>
    <div class="accordion-content">
        EE Miller Elementary School
        <ul>
          <li>I helped found and coach the Quiz Bowl team at EE Miller Elementary School.</li>
        </ul>
    </div>
</div>

<div class="accordion">
    <div class="accordion-header">
      <div class="accordion-title">Science Olympiad Coach</div>
      <span class="accordion-icon">+</span>
    </div>
    <div class="accordion-content">
        EE Miller Elementary School
        <ul>
          <li>I helped found and coach the Science Olympiad team at EE Miller Elementary School.</li>
        </ul>
    </div>
</div>

<div class="accordion">
    <div class="accordion-header">
      <div class="accordion-title">Professional Careers in Education Panel Member</div>
      <span class="accordion-icon">+</span>
    </div>
    <div class="accordion-content">
        Mount Aloysius College
    </div>
</div>

</section>

<script>

const accordionHeaders = document.getElementsByClassName('accordion-header');
const accordionContents = document.getElementsByClassName('accordion-content');
const accordionIcons = document.getElementsByClassName('accordion-icon');

for (let i = 0; i < accordionHeaders.length; i++) {
  accordionHeaders[i].addEventListener('click', () => {
    accordionContents[i].style.display = accordionContents[i].style.display == 'block' ? 'none' : 'block';
    accordionIcons[i].innerHTML = accordionContents[i].style.display == 'block' ? '-' : '+';
  });
}

</script>


      <footer class="site-footer">

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
